.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

// #aj-scroll-content {
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     overflow-y: auto;
// }

#aj-router-content {
    margin: auto 0;
}

#alert-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    z-index: 1000;
    .message {
        margin: 14px 28px;
        width: calc(100% - 56px);
        transition: all 0.3s ease-in-out;
    }

    @media screen and (max-width: 767px) {
        .message, &.fixed .message {
            width: 100% !important;
        }

    }

    &.fixed {
        .message {
            width: 50%;
            opacity: 0.9;
        }
    }
}