<div class="ui fluid card" *ngIf="address" [class.active]="active">
  <div class="content">
    <div class="right floated meta"><i class="icon" [ngClass]="typeIcon"></i></div>
    <div class="header">{{ address.name }}</div>
    <div class="meta">{{ address.phone }}</div>
    <div class="description">
      <div>{{ address.building }}, {{ address.locality }}</div>
      <div *ngIf="address.landmark">{{ address.landmark }}</div>
      <div>{{ address.city }}, {{ address.state }} </div>
    </div>
  </div>

  <!-- Action buttons -->
  <div class="extra content flex" *ngIf="editable === 'true'">
    <responsive-button icon="trash alternate" class="ml-auto" (click)="emitRemove()">Remove</responsive-button>
    <responsive-button icon="edit" color="blue" (click)="emitEdit()">Edit</responsive-button>
  </div>
  <!-- /Action buttons -->
</div>

<!-- building, locality, landmark, city, state -->