@import "../../variables.scss";

#navbar {
    background: $primary;
    border-radius: 0 !important;
    z-index: 1000;
    width: 100%;

    #navbar-search {
        flex: 1;
        .prompt {
            border-radius: 4px;
        }
    }
}