@import "../../variables.scss";

#navbar {
    background: $primary;
    border-radius: 0 !important;
    width: 100%;

    &.fixed {
        position: fixed;
        animation: dropdown 300ms ease-in;
    }

    .dropdown .menu {
        .item { width: 100%; }
    }

    #navbar-search {
        flex: 1;
        .prompt {
            border-radius: 4px;
        }
    }
}

@keyframes dropdown {
    from{ transform: translateY(-60px); opacity: 0; }
    to{ transform: translateY(0px); opacity: 1; }
}