#profile-pic-container {
    cursor: pointer;
    margin: 0 auto;
    overflow: hidden;
    z-index: inherit;

    img {
        height: 150px;
        width: 150px;
    }
}

#right-column {
    display: flex;
    flex-direction: column;
    margin: auto;
}