<!-- Profile -->
<h2 class="ui header">Profile</h2>
<div class="ui mobile reversed stackable grid">
  <div class="ten wide column">
    <form class="ui equal width form" [formGroup]="profileForm">
      <!-- Name Field Group -->
      <div class="equal width fields">
        <div class="required field" [class.error]="isInvalid('first_name')">
          <label for="first_name">First Name</label>
          <input type="text" formControlName="first_name" placeholder="John">
        </div>
        <div class="required field" [class.error]="isInvalid('last_name')">
          <label for="last_name">Last Name</label>
          <input type="text" formControlName="last_name" placeholder="Doe">
        </div>
      </div>
      <!-- /Name -->

      <!-- DOB Gender -->
      <div class="equal width fields">
        <!-- Gender -->
        <div class="field" [class.error]="isInvalid('gender')">
          <label for="gender">Gender</label>
          <select class="dropdown" formControlName="gender">
            <option value="male">
              <i class="mars icon"></i>Male
            </option>
            <option value="female">
              <i class="venus icon"></i>Female
            </option>
            <option value="other">
              <i class="transgender alternate icon"></i>Other
            </option>
          </select>
        </div>
        <!-- /Gender -->

        <!-- DOB -->
        <div class="field" [class.error]="isInvalid('dob')">
          <label for="dob">Date of Birth</label>
          <input-calendar placeholder="January 1, 1991" type="date" formControlName="dob"></input-calendar>
        </div>
        <!-- /DOB -->

      </div>
      <!-- DOB Gender -->

      <!-- Phone -->
      <div class="required field" [class.error]="isInvalid('phone')">
        <label for="phone">Contact No.</label>
        <input type="text" formControlName="phone" placeholder="xxxx xxx xxx">
      </div>
      <!-- /Phone -->
      <button class="ui primary right labeled icon button" [class.loading]="formIsLoading" (click)="updateProfile()" [disabled]="profileForm.invalid">
        <i class="sync icon"></i>
        Update Profile
      </button>
    </form>
    <!-- Profile Form -->
  </div>
  <div class="six wide column">

    <div class="ui basic segment" id="right-column">

      <!-- Profile Pic Computer -->
      <div 
        class="ui blurring circular nopadding segment" 
        id="profile-pic-container" 
        [class.loading]="pictureIsLoading"
        (click)="dim('#profile-pic-dimmer')">

        <img [src]="user.photoURL || 'assets/avatar.jpg'" onerror="this.src='assets/avatar.jpg'" alt="Profile Picture" class="ui small centered circular image" #profilePicture>
        <div class="ui dimmer" id="profile-pic-dimmer">
          <div class="content">
            <button class="ui inverted small button" (click)="browsePicture()">
              <!-- <i class="image icon"></i> -->
              Change
            </button>
            <input type="file" accept="image/jpg" #inputPicture hidden (change)="selectPicture($event.srcElement.files)">
          </div>
        </div>

      </div>
    </div>

    <!-- Edit Picture Modal -->
    <div class="ui modal" #editPictureModal>
      <div class="header">Edit Picture</div>
      <div class="center aligned content">
        <div #cropPicture></div>
      </div>
      <div class="actions">
        <button class="ui labeled icon cancel button">
          <i class="remove icon"></i>
          Cancel
        </button>
        <button class="ui labeled icon positive button">
          <i class="checkmark icon"></i>
          Confirm
        </button>
      </div>
    </div>
    <!-- /Edit Pricture Model -->

  </div>
</div>
<!-- /Profile -->