<div id="e404" class="ui basic secondary segment">
  <div class="ui extra padded raised segment" id="error-segment">
    <img src="assets/images/404/404_page_logo.svg" alt="AJMAH" class="ui tiny image">
    <div class="ui stackable two column middle aligned grid">
      <div class="column">
        <div class="ui extra padded basic center aligned segment">
          <img src="assets/images/404/404_page_404.svg" alt="" class="ui fluid image">
        </div>
      </div>
      <div class="column">
        <div class="ui basic center aligned segment">
          <div class="ui large header">Oh, Snap!</div>
          <p>The page you are looking for is missing.</p>
          <div class="spacer"></div>
          <a routerLink="/store" class="ui right labeled icon primary button text-upper">
            Continue Shopping
            <i class="shopping cart icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>