<div id="my-account-page" class="page">
  <!-- Email Not Verified -->
  <div class="ui icon warning flex message" *ngIf="! (authState | async)?.emailVerified">
    <i class="exclamation circle icon"></i>
    <div class="content">
      <div class="header">
        Mail not Verified 
      </div>
      <p>Please verify your mail to start shopping. A confirmation mail has been sent to your inbox.</p>
    </div>
    <button class="ui primary button ml-auto" [class.loading]="sendingMail" (click)="resendMail()">
      Resend Mail
    </button>
  </div>
  <!--/ Email Not Verified -->

  <div class="ui extra padded top attached segment" [class.loading]="!currentUser">
    <app-profile-details *ngIf="currentUser" [user]="currentUser"></app-profile-details>
  </div>

  <div class="ui extra padded bottom attached segment" [class.loading]="!currentUser">
    <app-login-security-details *ngIf="currentUser" [user]="currentUser"></app-login-security-details>
  </div>

</div>
