@import "app/variables.scss";

.spacer {
    display: block;
    height: 16px;
}

.striked {
    text-decoration: line-through;
    opacity: 0.5;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    opacity: 0.6;
    height: 100%;
}

.blank {
    display: block;
    height: 1rem;
}

.aj_hidden {
    display: none !important;
}

.seperator {
    display: block;
    height: 1px;
    background: rgba(0,0,0,0.1);
    width: 100%;
    margin: 8px 0;

    &.cover {
        width: inherit;
        margin: 8px -14px;
    }
}

.nopadding {
    padding: 0 !important;
}

.flex {
    display: flex !important;
    align-items: center;
}

.aj-container {
    padding: 4em !important;
    box-sizing: border-box !important;
}

.text-upper {
    text-transform: uppercase !important;
}

.page {
    width: 100%;
    height: 100%;
}

.hasGrid {
    padding: 14px;
}

//pull
.pull-right {
    margin-left: auto;
}
.pull-left {
    margin-right: auto;
}

//auto margins
.m-auto { margin: auto !important; }
.ml-auto { margin-left: auto !important; }
.mr-auto { margin-right: auto !important; }
.mt-auto { margin-top: auto !important; }
.mb-auto { margin-bottom: auto !important; }

//Fix for vertical divider
.ui.grid>.column+.divider-wrap, .ui.grid>.row>.column+.divider-wrap {
    position: relative;
    margin: 0;
    padding: 0;
}

/**
*   Semantic Overrides
**/
.evenly.divided.menu:not(.vertical) {
    .item {
        flex: 1;
    }
}

/**                     **\
**  Responsive Utilities **
\**                     **/

/* Mobile */

@media only screen and (max-width: 767px) {
    .mobile-hide{
        display: none !important;
    }
    .tablet-visible {
        display: none !important;
    }
    .small-visible {
        display: none !important;
    }
    .large-visible {
        display: none !important;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tablet-hide{
        display: none !important;
    }

    .mobile-visible {
        display: none !important;
    }
    .small-visible {
        display: none !important;
    }
    .large-visible {
        display: none !important;
    }
}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .small-hide{
        display: none !important;
    }

    .mobile-visible {
        display: none !important;
    }
    .tablet-visible {
        display: none !important;
    }
    .large-visible {
        display: none !important;
    }
}


/* Large Monitor */

@media only screen and (min-width: 1200px) {
    .large-hide{
        display: none !important;
    }

    .mobile-visible {
        display: none !important;
    }
    .tablet-visible {
        display: none !important;
    }
    .small-visible {
        display: none !important;
    }
}

/** Slick Slider **/

.slick-arrow {
    position: absolute !important;
    top: calc(50% - 18px);
    z-index: 8;

    &.slick-next {
        right: 0px;
    }

    &.slick-prev {
        left: 0px;
    }
}